:root {
  --pd: 1.375em;
  --bd: 2px solid #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input,
select {
  position: relative;
  margin-bottom: 13px;
  bottom: 2em;
  right: 2em;
  border: var(--bd);
  font-weight: bold;
}

form,
select {
  border: var(--bd);
  margin-bottom: 2.2em;
}

div {
  margin: 20px;
}

.bd-grid {
  display: grid;
  grid-template-columns: 100%;
}

.contact__container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

.contact__form {
  padding: 1.25em;
}

.contact__info {
  position: relative;
  border: 1px solid #000;
  bottom: 1.1em;
  padding-left: var(--pd);
  padding-right: var(--pd);
}

.contact__subtitle {
  position: relative;
  right: 0.8em;
  top: 0.5em;
  padding: 0;
  margin: 0;
}
